
body {
    font-family: 'Montserrat', sans-serif;
    background-color: white;
}

.navbar {
    background-color: #F57618;
}


.logo {
    max-width: 100px;  
    height: auto;       
    display: block;     
}

.navbar {
    background-color: #F57618; 
}

.nav-link {
    color: #fff;
    margin-right: 15px;
    font-size: 16px;
}

.nav-link:hover {
    color: #EFCF11; 
}

.navbar-toggler-icon {
    background-color: #F57618;
}

.navbar-brand img {
    display: inline-block;
    vertical-align: middle;
}

.hero-section {
    font-family:'Modak', sans-serif; ;
    text-shadow: 1px 1px 2px rgb(0, 0, 0);
    background-size: cover;
    background-position: center;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.info-section {
    background-color: #35B3C2; 
    font-weight: bold;
}

.map-section img {
    max-width: 100%;
    height: auto;
}

.footer-section h3 {
    font-size: 15px;
    color: #fff;
}

.footer-section a {
    color: #fff;
    text-decoration: none;
}

.footer-bottom {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 12px 0;
    font-size: 15px;
}

.footer-bottom a {
    color: #fff;
    font-size: 10px;
}

.footer-container {
    background-color: #000;
    color: white;
    padding: 30px 0;
    font-size: 12px;
}
